# Node.js Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
pnpm-error.log*
package-lock.json
yarn.lock
.pnpm-debug.log
.vscode/

# Build Files
dist/
build/
.cache/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
.stackdump

# OS-Specific Files
.DS_Store
Thumbs.db

# IDEs & Editors
.idea/
.vscode/
*.sublime-workspace

# Testing
coverage/
jest/
cypress/

# Miscellaneous
*.bak
*.swp
*.s
